
/* f5eaea - tan */
/* 7fcd91 - green */
/* 5b5656 - gray */
/* 4d4646 - black */

.navbar-nav > li{
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  cursor: pointer;
}

.jumbotron {
  background-color: #fff;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .jumbotron{
    max-width: 866px;
    max-height: 518px;
  }
}

.clickable {
  cursor: pointer;
}

.title-text {
  font-size:10vw;
}
@media screen and (min-width: 1200px) {
  .title-text {
    font-size: 50px;
  }
}

.timer-text {
  font-size:4vw;
}
@media screen and (min-width: 1200px) {
  .timer-text {
    font-size: 20px;
  }
}

.modal-dialog {
  max-width: 378px;
}

.img_select {
  padding: 0.3rem;
  max-width: 187px;
}

.image_box {
  display: flex;
  flex-wrap: wrap;
}
