<!-- Modal -->
<div class="modal fade" id="local_newtimeModal" tabindex="-1" role="dialog" aria-labelledby="local_newtimeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Timer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="form_localtimer">

        <div class="form-group">
          <label class="form-control-label">Timer</label>
          <input id=local_title class="form-control form-control-lg" type="text" required>
        </div>

        <div id="form_localtimer" class="form-group">
          <label class="form-control-label">Date</label>
          <input id=local_date class="form-control form-control-lg" type="date" required>
        </div>

        <div class="form-group" data-toggle="modal" data-target="#imgModal">
          <label class="form-control-label">Image</label>
          <input id=img_name class="form-control form-control-lg" type="text" value="default-1.jpg" required readonly>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          <input class="btn btn-primary" type="submit" value="New Timer">
        </div>

        </form>

      </div>
    </div>
  </div>
</div>





<!-- Image Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="image_box">
        <input type="image" name="default-1.jpg" class="img_select" src="static/bg-image/default-1.jpg">
        <input type="image" name="default-2.jpg" class="img_select" src="static/bg-image/default-2.jpg">
        <input type="image" name="default-3.jpg" class="img_select" src="static/bg-image/default-3.jpg">
        <input type="image" name="default-4.jpg" class="img_select" src="static/bg-image/default-4.jpg">
      </div>
    </div>
  </div>
</div>


<script>

$(".img_select").click(function(){
    $("#img_name").val($(this).attr('name'));
    $('#imgModal').modal('hide');
})

var localTimers = JSON.parse(window.localStorage.getItem('localTimers')) || [];

var local_titledata = document.getElementById("local_title");
var local_datedata = document.getElementById("local_date");
var local_imgdata = document.getElementById("img_name");


// creating a new timer on form completion
document.getElementById("form_localtimer").onsubmit = function() {
  submit_localtimer()
  window.location.reload();
};

function submit_localtimer () {
  var local_title = local_titledata.value;
  var local_date = local_datedata.value;
  var img_name = local_imgdata.value;


  if (local_title && local_date) {

    var day = new Date().getDate()
    var mon = new Date().getMonth() + 1
    var year = new Date().getFullYear()

    if (mon < 10) { mon = '0' + mon; }

    var form_timer = {
    "title": local_title,
    "goal": local_date,
    "id": "local_"+localTimers.length,
    "image": img_name,
    "local_check" : "True",
    "date_created" : year + "-" + mon + "-" + day
    }
    append_timer(form_timer)
  }
};

// appending a new timer

function append_timer(new_timer) {
  localTimers.push(new_timer);
  localStorage.setItem('localTimers', JSON.stringify(localTimers));
}

</script>
