<script>

  function setTimer(end_date, timer_id) {

    // count per second
    var timer_countdown = setInterval(function() {

      var current_date = new Date().getTime()
      var end_date_ms = new Date(end_date).getTime()

      // count_diff between
      var count_diff = end_date_ms - current_date;


      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(count_diff / (1000 * 60 * 60 * 24));
      var hours = Math.floor((count_diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((count_diff % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((count_diff % (1000 * 60)) / 1000);
      var m_seconds = Math.floor(count_diff % 1000);


      // text fields for timer calculations
      var days_text;

      if (days > 1) {
        days_text = days + " days ";
      }
      else if (days == 1){
        days_text = days + " day ";
      }
      else {
        days_text = "";
      }

      var hr_text;

      if (hours > 1) {
        hr_text = hours + " hours ";
      }
      else if (hours == 1){
        hr_text = hours + " hour ";
      }
      else {
        hr_text = "";
      }


      // result for html
      document.getElementById(timer_id).innerHTML = days_text + hr_text;
      document.getElementById("minsec_"+timer_id).innerHTML = minutes + " m " + seconds + " s ";
      document.getElementById("milsec_"+timer_id).innerHTML = m_seconds;


      // when timer reaches 0
      if (count_diff < 0) {
        clearInterval(timer_countdown);
        document.getElementById(timer_id).innerHTML = "count finished on "+end_date;
      }
    }, 1);
  }

</script>
