<script>

  function setTimer(end_date, timer_id, date_created) {

    // count per second
    var timer_countdown = setInterval(function() {

      var current_date = new Date().getTime()
      end_date = new Date(end_date).getTime()
      date_created = new Date(date_created).getTime()

      // count_diff between
      var count_diff = end_date - current_date;


      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(count_diff / (1000 * 60 * 60 * 24));
      var hours = Math.floor((count_diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((count_diff % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((count_diff % (1000 * 60)) / 1000);

      // result for html
      document.getElementById(timer_id).innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";


      // percentage calculation to adjust width of the bootstrap bar
      date_percent = ((current_date - end_date) / (date_created - end_date)) * 100
      $('#bar_' + timer_id).css('width', date_percent+'%');


      // changing the colour of the bar based on percentage
      if (date_percent >= 90) {
        $('#bar_' + timer_id).addClass("bg-danger");
      }
      else if (date_percent >= 60 && date_percent < 90) {
        $('#bar_' + timer_id).removeClass("bg-danger").addClass("bg-warning");
      }
      else if (date_percent >= 30 && date_percent < 60) {
        $('#bar_' + timer_id).removeClass("bg-warning").addClass("bg-info");
      }
      else {
        $('#bar_' + timer_id).removeClass("bg-info").addClass("bg-success");
      }


      // when timer reaches 0
      if (count_diff < 0) {
        clearInterval(timer_countdown);
        document.getElementById(timer_id).innerHTML = "count finished on "+end_date;
      }
    }, 1000);
  }

</script>
